SIM_NAME = far3d_ips
SIM_ROOT = $PWD/$SIM_NAME
LOG_FILE = $SIM_ROOT/far3d_ips.log
LOG_LEVEL = INFO
SIMULATION_MODE = NORMAL

TOKAMAK_ID = d3d
RUN_ID = 8296
SHOT_NUMBER = 159243

STATE_FILES = ${TOKAMAK_ID}_${SHOT_NUMBER}_${RUN_ID}.zip
STATE_WORK_DIR = $SIM_ROOT/work/state

[PORTS]
    NAMES = DRIVER FAR3D IMAS

    [[DRIVER]]
        IMPLEMENTATION = driver

    [[FAR3D]]
        IMPLEMENTATION = far3d

    [[IMAS]]
        IMPLEMENTATION = imas

[driver]
    CLASS = DRIVER
    SUB_CLASS =
    NAME = driver
    NPROC = 1
    BIN_PATH =
    OUTPUT_FILES =
    INPUT_FILES =
    SCRIPT = $PWD/driver.py

[far3d]
    CLASS = FAR3D
    SUB_CLASS =
    NAME = far3d_worker
    NPROC = 1
    BIN_PATH =
    OUTPUT_FILES = br_0000 bth_0000 egn_eval_1.out farprt fs00000 fs0000z nf_0000 phi_0000 pr_0000 profiles.dat profiles_ex.dat psi_0000 spctr_0000 temp_grwth_omega uzt_0000 vprlf_0000 vr_0000 vth_0000 vthprlf_0000
    INPUT_FILES = Input_Model
    RESTART_FILES = $STATE_FILES
    SCRIPT = $PWD/far3d_worker.py
    FAR3D_EXE = /home/rw4086/FAR3d/Source/xfar3d

[imas]
    CLASS = IMAS
    SUB_CLASS =
    NAME = imas_worker
    NPROC = 1
    BIN_PATH =
    OUTPUT_FILES =
    INPUT_FILES = $STATE_FILES
    SCRIPT = $PWD/imas_worker.py
    IMAS_DISPLAY_EXE = $PWD/display_imas.py
