SIM_NAME = omas_test
SIM_ROOT = $PWD/$SIM_NAME
LOG_FILE = $SIM_ROOT/imas_test.log
LOG_LEVEL = INFO
SIMULATION_MODE = NORMAL

TOKAMAK_ID = tokamak
SHOT_NUMBER = 13
RUN_ID = 42

IMAS_BACKEND = 13  # NONE(10), ASCII(11), MDSPLUS(12), HDF5(13), MEMORY(14), UDA(15)

STATE_FILES = ${TOKAMAK_ID}_${SHOT_NUMBER}_${RUN_ID}.zip
STATE_WORK_DIR = $SIM_ROOT/work/state

[PORTS]
    NAMES = INIT DRIVER IMAS IMAS_DISPLAY

    [[INIT]]
        IMPLEMENTATION = omas_init

    [[DRIVER]]
        IMPLEMENTATION = driver

    [[IMAS]]
        IMPLEMENTATION = imas

    [[IMAS_DISPLAY]]
        IMPLEMENTATION = imas_display

[omas_init]
    CLASS = INIT
    SUB_CLASS =
    NAME = omas_init
    NPROC = 1
    BIN_PATH =
    OUTPUT_FILES =
    INPUT_FILES =
    SCRIPT = $PWD/omas_init.py

[driver]
    CLASS = DRIVER
    SUB_CLASS =
    NAME = driver
    NPROC = 1
    BIN_PATH =
    OUTPUT_FILES =
    INPUT_FILES =
    SCRIPT = $PWD/driver.py

[imas]
    CLASS = IMAS
    SUB_CLASS =
    NAME = imas_worker
    NPROC = 1
    BIN_PATH =
    OUTPUT_FILES =
    INPUT_FILES =
    RESTART_FILES = $STATE_FILES
    SCRIPT = $PWD/imas_worker.py
    IMAS_EXE = $PWD/imas

[imas_display]
    CLASS = IMAS_DISPLAY
    SUB_CLASS =
    NAME = imas_display
    NPROC = 1
    BIN_PATH =
    OUTPUT_FILES =
    INPUT_FILES =
    SCRIPT = $PWD/imas_display.py
    IMAS_DISPLAY_EXE = $PWD/display_omas.py

[TIME_LOOP]
    MODE = REGULAR
    START = 1.
    FINISH = 10.
    NSTEP = 9

[CHECKPOINT]
   MODE = ALL
   NUM_CHECKPOINT = -1
